img {
    box-shadow: 0px 0px 6px 1px rgb(128, 128, 128);
    max-width: 100%;
    border-radius: 5px;
    margin-top: 5px;
}

.main .posts_header .group_item {
    display: flex;
    margin: 30px 0px 30px 0px;
}

.main .posts_header img {
    box-shadow: none;
}

.main .posts_header .title {
    margin: 30px 0px 30px 10px;
    font-size: 30px;
    font-weight: 600;
}
.main .posts_header .item {
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.main .posts_header p {
    margin: 0 0 0 2px;
    font-size: 14px;
    /* font-weight: 600; */
    /* font-style: italic; */
    display: inline-block;
}

.main .content {
    padding: 0px 10px 120px 10px;
    margin-top: 60px;
    font-size: 16px;
    overflow: hidden;
    box-sizing: border-box;
}